menu "cikon_http"

    config HTTP_PORT
        int "HTTP server port"
        default 8080
        range 1 65535

    config HTTP_STACK_SIZE
        int "HTTP server task stack size (bytes)"
        default 4096

    config HTTP_MAX_HANDLERS
        int "Maximum URI handlers"
        default 16
        range 4 64

    config HTTP_CTRL_PORT
        int "HTTP server internal ctrl socket port"
        default 32769
        range 1024 65535

endmenu
