menu "Mesh Lite Configuration"
    config MESH_LITE_ROUTER_SSID
        string "Router SSID"
        default "mesh_router"
        help
            SSID of the router that root node connects to.

    config MESH_LITE_ROUTER_PASSWORD
        string "Router Password"
        default ""
        help
            Password of the router.
endmenu
